<html>
	<style>
		button { padding: 8px 24px; }
		input {	padding: 8px 30px; }
		select { padding: 8px 30px; }
		tab1 { padding-left: 4em; }
	</style>
    <head>
        <title>{{title}} </title>
    </head>
    <body>
        <!-- the first paragraph holds the contents of the live graph-->
        <p>
        <h1>{{name}}</h1>
        <div id="chartContainer" style="height: 400px; width: 60%; border: 5px outset grey;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <tab1></tab1> <BR> <BR> <tab1></tab1>
        <button id="startBtn">Start</button> <tab1></tab1>
        <button id="stopBtn">Stop</button> <tab1></tab1>
        <button id="traceBtn">Single</button>
        </p>

        <BR>
        <!-- the second paragraph holds the contents of the query portion-->
        <p>
            <tab1></tab1>
        <select id="commands" >
            <option value="cmd">Cmd</option>
            <option value="idn">IDN</option>
            <option value="lim">Lim</option>
            <option value="limset">Limset</option>
            <option value="echo">Echo</option>
            <option value="ping">Ping</option>
            <option value="start">Start</option>
            <option value="stop">Stop</option>
            <option value="single">Single</option>
            <option value="state">State</option>
            <option value="trace">Trace</option>
        </select>
            <tab1></tab1>
        <button id="queryBtn">Query</button>
        <br>
            <tab1></tab1>
        <input type="text" id="inMin" style='display:none' placeholder="min..."/>
        <input type="text" id="inMax" style='display:none' placeholder="max..."/>
        <br> <tab1></tab1>
        <input type="text" id="inQuery" style='display:none' placeholder="write anything..."/>
        </p>

        <label for="response log">Response Log</label>
        <p id="result"></p>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/js/query.js"></script>
        
    </body>
</html>